In [105]:
import pandas as pd

In [106]:
df = pd.read_excel('listaLivros.xlsx')
df.to_excel('planilha_convertida.xlsx', index=False)  # Salva o arquivo em formato Excel


print(df.to_string())

#pd.set_option('display.max_columns', None)  ## ajuste de colunas -> pra mostrar todas
#pd.set_option('display.width', 1000)        ## ajuste de tamanho do df

       nome                     livro             genero           subgenero   validade
0     maria                      Duna  Ficcao cientifica            distopia      1 ano
1       joao                     1984  Ficcao cientifica            distopia       1ano
2    marcelo    Orgulho e preconceito            Romance    Romance de epoca     2 anos
3   fernanda          Sherlock Holmes            Romance    Romance de epoca     2 anos
4     carla                   Dracula             Terror       Terror comico  vitalicio
5    joaquim               IT A coisa            Terror        Terror comico  vitalicio
6     carlos  mochileiro das galaxias  Ficcao cientifica      Ficcao comedia      1 ano
7     joacir    entendendo algoritmos        Aprendizado  Estrutura de dados  vitalicio
8    mariana               crepusculo            romance     romance vampiro     2 anos
9   josefina           extraordinario  Ficcao cientifica              utopia        NaN
10    cleide      diario de um banana             terror       Terror comico        NaN
11   mariana        fazendo meu filme            Romance    Romance de epoca        NaN

In [107]:
print(df.columns)

Index(['nome ', 'livro', 'genero', 'subgenero', 'validade'], dtype='object')

In [108]:
# Definindo as regras de validade
def validade_genero(row):
    validade = {
        'Ficcao cientifica': '1 ano',
        'Romance': '2 anos',
        'Terror': 'vitalicio',
        'Aprendizado': 'vitalicio'
    }
    return validade.get(row['genero'], 'Invalido')  # Se não encontrar, retorna 'Inválido'

In [109]:
print(df)

       nome                     livro             genero           subgenero   validade
0     maria                      Duna  Ficcao cientifica            distopia      1 ano
1       joao                     1984  Ficcao cientifica            distopia       1ano
2    marcelo    Orgulho e preconceito            Romance    Romance de epoca     2 anos
3   fernanda          Sherlock Holmes            Romance    Romance de epoca     2 anos
4     carla                   Dracula             Terror       Terror comico  vitalicio
5    joaquim               IT A coisa            Terror        Terror comico  vitalicio
6     carlos  mochileiro das galaxias  Ficcao cientifica      Ficcao comedia      1 ano
7     joacir    entendendo algoritmos        Aprendizado  Estrutura de dados  vitalicio
8    mariana               crepusculo            romance     romance vampiro     2 anos
9   josefina           extraordinario  Ficcao cientifica              utopia        NaN
10    cleide      diario de um banana             terror       Terror comico        NaN
11   mariana        fazendo meu filme            Romance    Romance de epoca        NaN

In [110]:
df['validade'] = df.apply(validade_genero, axis=1)

In [111]:
## Salvando modificações em um banco
df.to_csv('planilha_atualizada.csv', encoding='utf-8', index=False)

In [112]:
print(df)

       nome                     livro             genero           subgenero   validade
0     maria                      Duna  Ficcao cientifica            distopia      1 ano
1       joao                     1984  Ficcao cientifica            distopia      1 ano
2    marcelo    Orgulho e preconceito            Romance    Romance de epoca     2 anos
3   fernanda          Sherlock Holmes            Romance    Romance de epoca     2 anos
4     carla                   Dracula             Terror       Terror comico  vitalicio
5    joaquim               IT A coisa            Terror        Terror comico   Invalido
6     carlos  mochileiro das galaxias  Ficcao cientifica      Ficcao comedia      1 ano
7     joacir    entendendo algoritmos        Aprendizado  Estrutura de dados  vitalicio
8    mariana               crepusculo            romance     romance vampiro   Invalido
9   josefina           extraordinario  Ficcao cientifica              utopia      1 ano
10    cleide      diario de um banana             terror       Terror comico   Invalido
11   mariana        fazendo meu filme            Romance    Romance de epoca     2 anos

In [113]:
## Transformando esse banco em uma planilha atualizada

df = pd.read_csv('planilha_atualizada.csv')  # Substitua 'planilha.csv' pelo caminho do seu arquivo CSV

# Salvar os dados como um arquivo Excel (.xlsx)
df.to_excel('arquivo_final.xlsx', index=False)  # Salva novamente como arquivo Excel (.xlsx)

In [115]:
## Trabalhando com watchDogs

from watchdog.observers import Observer
from watchdog.events import FileSystemEventHandler

In [120]:
## Classe de monitoramento 

class WatcherHandler(FileSystemEventHandler):
    def on_modified(self, event):
        # Verifica se o arquivo modificado é o que queremos
        if event.src_path == 'listaLivros.xlsx':  # Mude para o nome do seu arquivo
            print(f"Arquivo modificado: {event.src_path}")
            processar_arquivo(event.src_path)